body {
	margin: 15px;
	padding: 0;
	background: #447799;
	font-family: sans-serif;
}
a:link {
	width: 100%;
	text-align: center;
	padding: 15px;
	display: block;
	background-color: #aacccc;
	margin-bottom: 20px;
	font-size: 25px;
	text-decoration: none;
	color: #fff;
	border-bottom: 5px solid #81acac;
}
a:hover {
	border-bottom: 5px solid #92cfcf;
}
h1 {
	color: #fff;
	font-size: 70px;
	margin: auto;
}
.container {
	max-width: 960px;
	margin: auto;
}

.color {
	background: #aacccc;
}